.chat {
  display: grid;
  width: 100vw;
  justify-content: center;
  height: calc(100vh - 100px);
  grid-template-rows: 1fr min-content;
  background-color: #f8ffbb;
}
.chatMessages {
  /* display: grid;
  grid-template-rows: repeat(auto-fit, minmax(0, min-content)); */
  gap: 16px;
  padding: 16px 16px 0px 16px;
  width: 80vh;
  background-color: rgb(247, 255, 225);
  height: 100%;
  align-items: start;
  box-shadow: inset 0px 0px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chatMessages::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.sendMessage {
  border: none;
  background-color: rgb(214, 221, 196);
  font-size: 24px;
  padding: 6px 10px;
  outline: none;
  font-size: 16px;
  height: 20px;
}
